/* Google Font CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

@media (prefers-color-scheme:dark) {
  :root {
    --background-color: rgb(53, 50, 50);
    --color: white;
    --hover-color: #6BFF33;
    --nav-sticky: rgb(27, 21, 21);
  }
}

@media (prefers-color-scheme:light) {
  :root {
    --background-color: white;
    --color: black;
    --hover-nav-sticky: red;
    --hover-color: #4070f4;
    --nav-sticky: #4070f4;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}
/*water bubble mouse pointer styling*/
.water-bubble {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #00bfff;
  /* a light blue color */
  box-shadow: 0 0 20px rgba(0, 191, 255, 0.5);
  /* give the water bubble a subtle shadow */
  animation: water-bubble-animation 1s ease-in-out infinite;
  /* animate the water bubble */
  pointer-events: none;
  /* so the water bubble doesn't interfere with other elements */
}

/* Keyframe animation for the water bubble */
@keyframes water-bubble-animation {
  0% {
    transform: scale(1);
    /* start at normal size */
  }

  50% {
    transform: scale(1.5);
    /* grow slightly larger */
  }

  100% {
    transform: scale(1);
    /* return to normal size */
  }
}


/* Custom Scroll Bar CSS */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: var(--background-color);
  border-radius: 12px;
  transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: #4070f4;
}

/* navbar styling */
nav {
  position: fixed;
  width: 100%;
  padding: 20px 0;
  z-index: 998;
  transition: all 0.3s ease;
  font-family: 'Ubuntu', sans-serif;
}

nav.sticky {
  background: var(--nav-sticky);
  padding: 13px 0;
}

nav .navbar {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

nav .navbar .logo a {
  font-weight: 500;
  font-size: 35px;
  color: var(--color);
}

nav .navbar .logo a:hover {
  color: var(--hover-color);
}

nav.sticky .navbar .logo a {
  color: var(--color);
}

.flip {
  font-weight: 300;
  color: red;
}

nav .navbar .menu {
  display: flex;
  position: relative;
}

nav .navbar .menu li {
  list-style: none;
  margin: 0 8px;
}

.navbar .menu a {
  font-size: 18px;
  font-weight: 500;
  color: var(--color);
  padding: 6px 0;
  transition: all 0.4s ease;
}

.navbar .menu a:hover {
  color: var(--hover-color);
}

nav.sticky .menu a {
  color: var(--color);
}

nav.sticky .menu a:hover {
  color: var(--hover-nav-sticky);
}

.navbar .media-icons a {
  color: var(--color);
  font-size: 18px;
  margin: 0 6px;
}

.navbar .media-icons a:hover {
  color: var(--hover-color);
}

nav.sticky .media-icons a {
  color: var(--color);
}

nav.sticky .media-icons a:hover {
  color: var(--hover-nav-sticky);
}

/* Side Navigation Menu Button CSS */
nav .menu-btn,
.navbar .menu .cancel-btn {
  position: absolute;
  color: var(--color);
  right: 30px;
  top: 20px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: none;
}

nav .menu-btn {
  color: var(--color);
}

nav.sticky .menu-btn {
  color: var(--color);
}

.navbar .menu .menu-btn {
  color: var(--color);
}

/* home section styling */
.home {
  height: 100vh;
  width: 100%;
  background: var(--background-color);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: 'Ubuntu', sans-serif;
}

.home .home-content {
  width: 90%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home .text-one {
  font-size: 25px;
  color: var(--color);
}

.home .text-two {
  color: var(--color);
  font-size: 75px;
  font-weight: 500;
  margin-left: -3px;
}

.home .text-two .front {
  font-weight: 600;
  font-size: 75px;
  color: red;
}

.home .text-three {
  font-size: 40px;
  margin: 5px 0;
  color: #4070f4;
}

.home .text-four {
  font-size: 23px;
  margin: 5px 0;
  color: var(--color);
}

.home .button {
  margin: 14px 0;
}

.home .button button {
  outline: none;
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 25px;
  font-weight: 400;
  background: var(--background-color);
  color: var(--color);
  border: 2px solid transparent;
  transition: all 0.4s ease;
}

.home .button button:hover {
  border-color: var(--background-color);
  background-color: var(--color);
  color: var(--background-color);
  box-shadow: 0 5px 10px rgba(247, 241, 241, 0.959);
}

/* About Section Styling */
/* Those Elements Where We Have Apply Same CSS,
 I'm Selecting Directly 'Section Tag' and 'Class'  */
section {
  padding-top: 40px;
  background-color: var(--background-color);
  overflow: clip;
}

section .content {
  width: 80%;
  margin: auto;
  font-family: 'Poppins', sans-serif;
}
.about .about-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section .title {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

section .title span {
  color: var(--color);
  font-size: 30px;
  font-weight: 600;
  position: relative;
  padding-bottom: 8px;
}

section .title span::before,
section .title span::after {
  content: '';
  position: absolute;
  height: 3px;
  width: 100%;
  background: var(--color);
  left: 0;
  bottom: 0;
}

section .title span::after {
  bottom: -7px;
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
}

.about .about-details .left {
  width: 45%;
}

.about .left img {
  height: 300px;
  width: 300px;
  object-fit: cover;
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  animation: morph 5s ease-in-out infinite;
}

.about-details .right {
  width: 55%;
}

section .topic {
  color: var(--color);
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 10px;
}

.about-details .right p {
  text-align: justify;
  color: var(--color);
}

section .button {
  margin: 16px 0;
}

section .button a {
  outline: none;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 25px;
  font-weight: 400;
  background: #4070f4;
  color: #fff;
  border: 2px solid transparent;
  cursor: pointer;
  transition: all 0.4s ease;
}

section .button a:hover {
  border-color: #4070f4;
  background-color: #fff;
  color: #4070f4;
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }

  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }

  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
}

/* My Skills CSS */

.skills {
  background: var(--background-color);
}

.skills .content {
  padding: 40px 0;
}

.skills .skills-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skills-details .text {
  width: 50%;
}

.skills-details p {
  color: var(--color);
  text-align: justify;
}

.skills .skills-details .experience {
  display: flex;
  align-items: center;
  margin: 0 10px;
}

.skills-details .experience .num {
  color: var(--color);
  font-size: 80px;
}

.skills-details .experience .exp {
  color: var(--color);
  margin-left: 20px;
  font-size: 18px;
  font-weight: 500;
  margin: 0 6px;
}

.skills-details .boxes {
  width: 45%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.skills-details .box {
  width: calc(100% / 2 - 20px);
  margin: 20px 0;
}

.skills-details .boxes .topic {
  font-size: 20px;
  color: #4070f4;
}

.skills-details .boxes .per {
  font-size: 60px;
  color: #4070f4;
}



/* My Services CSS */
.services {
  overflow: clip;
}

.services .boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: var(--color);
}

.services .boxes .box {
  margin: 20px 0;
  width: calc(100% / 3 - 20px);
  text-align: center;
  border-radius: 12px;
  padding: 30px 10px;
  box-shadow: 0 5px 10px rgba(250, 250, 250, 0.521);
  cursor: default;
  transition: all 0.4s ease;
  
}

.services .boxes .box:hover {
  box-shadow: 0 5px 10px rgba(54, 57, 212, 0.521);
}

.services .boxes .box:hover {
  background: #4070f4;
  color: #fff;
}

.services .boxes .box .icon {
  height: 50px;
  width: 50px;
  background: #4070f4;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  font-size: 18px;
  color: #fff;
  margin: 0 auto 10px auto;
  transition: all 0.4s ease;
}

.boxes .box:hover .icon {
  background-color: #fff;
  color: #4070f4;
}

.services .boxes .box:hover .topic,
.services .boxes .box:hover p {
  color: #0E2431;
  transition: all 0.4s ease;
}

.services .boxes .box:hover .topic,
.services .boxes .box:hover p {
  color: #fff;
}



/* Contact Me CSS */
.contact {
  background: var(--background-color);
  color: var(--color);
}

.contact .content {
  margin: 0 auto;
  padding: 30px 0;
}

.contact .text {
  width: 80%;
  text-align: center;
  margin: auto;
}

/* My Projects CSS */
.projects {
  background: var(--background-color);
}

.projects .boxes {
  padding:10px 15px;
  color: var(--color);
  display: grid;
  gap: 1;
  grid-auto-flow: column;
  grid-auto-columns: 50%;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  scroll-snap-align: center;
  ;
}

.projects .boxes::-webkit-scrollbar {
  height: 8px;
  width: 50px;
  color: #4070f4;
}

.projects .boxes .box {
  background-color: var(--background-color);
  width: 80%;
  margin:0 10%;
  text-align: center;
  border-radius: 12px;
  padding: 20px 10px;
  box-shadow: 0 5px 10px rgba(224, 209, 209, 0.61);
  cursor: default;
  transition: all 0.4s ease;
}
.projects .boxes .box:hover {
  box-shadow: 0 5px 30px rgb(2, 27, 252);
}
iframe{
  width: 100%;
}
.projects .boxes .box .icon {
  height: 50px;
  width: 50px;
  background: #4070f4;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  font-size: 18px;
  color: #fff;
  margin: 0 auto 10px auto;
  transition: all 0.4s ease;
}


section .demo-button {
  margin: 16px 0;
}

section .demo-button a {
  outline: none;
  padding: 5px 13px;
  border-radius: 4px;
  font-size: 25px;
  font-weight: 400;
  background: #4070f4;
  color: #fff;
  border: 2px solid #4070f4;
  cursor: pointer;
  transition: all 0.4s ease;
}

section .demo-button a:hover {
  color: #4070f4;
  background: #fff;
}
i{
  background-color: transparent;
}

/* Footer CSS */
footer {
  background: var(--background-color);
  padding: 15px 0;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

footer .text span {
  font-size: 17px;
  font-weight: 400;
  color: var(--color);
}

footer .text span a {
  font-weight: 500;
  color: var(--color);
}

footer .text span a:hover {
  text-decoration: underline;
}

/* Scroll TO Top Button CSS */
.scroll-button a {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: #fff;
  background: #4070f4;
  padding: 7px 12px;
  font-size: 18px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.15);
  display: none;
}

/* Responsive Media Query */
@media (max-width: 1190px) {
  section .content {
    width: 85%;
  }
}

@media (max-width: 1000px) {
  .about .about-details {
    justify-content: center;
    flex-direction: column;
  }

  .about .about-details .left {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .about-details .right {
    width: 90%;
    margin: 40px 0;
  }

  .services .boxes .box {
    margin: 20px 0;
    width: calc(100% / 2 - 20px);
  }

  .projects .boxes {
    grid-auto-columns: 80%;
  }

  .projects .boxes .box {
    width: 95%;
  }
}

@media (max-width: 900px) {
  .about .left img {
    height: 350px;
    width: 350px;
  }
}

@media (max-width: 750px) {
  nav .navbar {
    width: 90%;
  }

  nav .navbar .menu {
    position: fixed;
    left: -100%;
    top: 0;
    background: #0E2431;
    height: 100vh;
    max-width: 400px;
    width: 100%;
    padding-top: 60px;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s ease;
  }

  .navbar.active .menu {
    left: 0;
  }

  nav .navbar .menu a {
    font-size: 23px;
    display: block;
    color: #fff;
    margin: 10px 0;
  }

  nav.sticky .menu a:hover {
    color: #4070f4;
  }

  nav .navbar .media-icons {
    display: none;
  }

  nav .menu-btn,
  .navbar .menu .cancel-btn {
    display: block;
  }

  .home .text-two {
    font-size: 65px;
  }

  .home .text-three {
    font-size: 35px;
  }

  .skills .skills-details {
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .skills-details .text {
    width: 100%;
    margin-bottom: 50px;
  }

  .skills-details .boxes {
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .services .boxes .box {
    margin: 20px 0;
    width: 100%;
  }

  .contact .text {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .home .text-two {
    font-size: 55px;
  }

  .home .text-three {
    font-size: 33px;
  }

  .skills-details .boxes .per {
    font-size: 50px;
    color: #4070f4;
  }
}